<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

	<display-name>Mvc4j Web Test</display-name>
	<description>Web application test project for the Mvc4j framework.</description>

	<listener>
		<listener-class>nextmethod.web.mvc.Mvc4jServletContextListener</listener-class>
	</listener>

</web-app>
